body {
    background-color: black;
    color:aliceblue;
    font-family: "MinecraftiaRegular";
}


.cabecalho {
    padding: 40px 40px 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecalho-logo {
    display: flex;
    padding: 0px 40px 0px 0px;
    width: 10%;
}

h1 {
    font-size: 50px;
}

.navegacao-div {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navegacao-link {
    padding: 0px 15px;
}

a:visited {
    color:aliceblue;
}

a:link {
    color: aliceblue;
    text-decoration: underline;
}

a:hover {
    color: #708090;
    text-decoration: none;
}

.secao {
    margin: 100px 200px;
    padding: 20px 20px;
    text-align: justify;
    border: 2px solid aliceblue;
    border-radius: 7px;
}

h2 {
    text-transform: uppercase;
}

summary {
    background-color: #292929;
    border: 2px solid #010101;
    border-radius: 5px;
    padding: 10px;
}

details > summary * {
    display: inline;
    cursor: pointer;
}

details > p {
    background-color: #373737;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
}

.ft-logo {
    width: 10%;
}