body {
    background-color: black;
    color:aliceblue;
    font-family: "MinecraftiaRegular";
}


.cabecalho {
    padding: 2.5rem 2.5rem 3.75rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cabecalho-logo {
    display: flex;
    padding: 0 2.5rem 0 0;
    width: 10%;
}

h1 {
    font-size: 3.125rem;
}

#voltar-sumario {
    text-decoration: none;
}

.navegacao-div {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navegacao-link {
    padding: 0 0.938rem;
}

a:visited {
    color:aliceblue;
}

a:link {
    color: aliceblue;
    text-decoration: underline;
}

a:hover {
    color: #07ff07;
    text-decoration: none;
}

.secao {
    margin: 6.25em 12.5em;
    padding: 1.25em 1.25em;
    text-align: justify;
    border: 0.125em solid aliceblue;
    border-radius: 0.438em;
}

.secao:hover {
    border-color: #07ff07;
}

.secao h2 {
    text-transform: uppercase;
    text-align: justify;
}

.secao p {
    text-align: justify;
}

.icones {
    width: 3%;
}

summary {
    background-color: #292929;
    border: 2px solid #010101;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

summary:hover {
    color: #07ff07;
}

details > summary * {
    display: inline;
}

details > p {
    background-color: #373737;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ft-logo {
    width: 10%;
}

.voltar-topo{
    display: flex;
    justify-content: space-evenly;
    
}

.seta {
    font-size: 1.2em;
}
